.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 14px 23px 14px 28px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 14px 23px 14px 28px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 14px 23px 14px 28px;
}
