.slider-nav {
  background-color: red;
  position: absolute;
  z-index: 2;
  height: 48px;
  min-height: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  font-size: 6px;
  display: flex;
  top: auto;
  bottom: 48px;
  left: 0;
  right: 0;
  transform: none;
}

.slick-slide {
  position: relative;
}

.slick-active {
  background-color: #fff !important;
}

.slider-dot {
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 3px 0.5em;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
  bottom: 38px !important;
  border-radius: 1000px;
}

.slick-dots li {
  /* //this is the non clickable one */
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 3px 0.5em;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
  bottom: 38px !important;
  border-radius: 1000px;
}

.slick-dots {
  height: 48px;
  min-height: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  font-size: 6px;
  display: flex;
  top: auto;
  bottom: 36px;
  left: 0;
  right: 0;
  transform: none;
}

.slide-arrow {
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  top: auto;
  bottom: 48px;
  left: 0;
  right: auto;
  z-index: 5;
}

.slider-arrow-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
